{% extends "layout.html" %}

{% block content %}
<p>Se usa el framework FastAPI con el modelo YOLOv5. Ver /doc para información del API.</p>

<p>YOLOv5 Ultralytics Repo: <a href="https://github.com/ultralytics/yolov5"> https://github.com/ultralytics/yolov5 </a></p>
<p>FastAPI Repo: <a href="https://github.com/tiangolo/fastapi"> https://github.com/tiangolo/fastapi </a></p>

<p>Proyecto de tesis realizado para la Maestria en Ciencias de la Computación Facultad de Matematicas - UADY</p>
<p>Tesis en la detección de personas usando o cubrebocas usando tecnicas de aprendizaje profundo</p>

{% endblock %}